<br>
<br>
<center><h2>Sign up</h2></center>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class='mfleft'><%= f.label :email %></div>
    <div class='mfright'><%= f.email_field :email, autofocus: true %></div>
  <br>
  <br>
    <div class='mfleft'><%= f.label :password %></div>
    <div class='mfright'>
    <%= f.password_field :password, autocomplete: "off" %><% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %></div>
  <br>
  <br>
    <div class='mfleft'><%= f.label :password_confirmation %></div>
    <div class='mfright'><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  <br>
  <br>
    <center>
      <%= f.submit "Sign up", class: "button" %> <%= render "devise/shared/links" %>
    </center>
<% end %>