<%= form_for @recipe do |f| %>
<%= f.label :name, "Recipe Name:", class: "formleft" %>
<%= f.text_field :name, class: "formright" %>
<br>
<br>
<%= f.label :category_id, "Category:", class: "formleft" %>
<%= f.select :category_id, Category.all.map { |c| [c.name, c.id] }, class: "formright" %>
<br>
<br>
<%= f.label :vegetarian, "Vegetarian:", class: "formleft" %>
<%= f.check_box :vegetarian,  class: "formright" %>
<br>
<br>
<%= f.label :ingredient_ids, "Ingredients:", class: "formleft" %>
<div class='fcbright'><%= f.collection_check_boxes :ingredient_ids, Ingredient.all.order(:name), :id, :name %></div>
<br>
<br>
<%= f.label :instructions, "Instructions:", class: "formleft" %>
<%= f.text_area :instructions, rows: "10", class: "formright" %>
<br>
<br>
<center>
  <%= f.submit button_text, class: "bueton" %>
</center>
<% end %>