<center> 
  <br>
  <h2>
  <div class='headleft'>
    <%= link_to("Back", recipes_path, class: "button") %>
  </div>
  <div class='headmid'>
    <%= @recipe.name %>
  </div>
  <div class='headright'>
    <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "button" if can? :edit, @recipe %> <%= link_to 'Delete Recipe', recipe_path(@recipe), method: :delete, class: 'button', data:{confirm: 'Confirm Deleting'} if can? :destroy, @recipe %>
  </div>
  </h2>
</center>
<br>
<br>
<br>
<div class='recipeleft'>
  <p><strong>Category:</strong> <%= link_to(@recipe.category.name, @recipe.category) if @recipe.category %></p>
  <p><strong>Vegetarian:</strong> <%= @recipe.vegetarian %></p>
  <p><strong>Ingredients:</strong> 
    <% @recipe.quantities.each do |quantity| %>
      <br>
      <%= quantity.amount %>
      <%= link_to(quantity.ingredient.name, quantity.ingredient) %>
      <%= link_to(image_tag('http://i.imgur.com/PYI7y3E.png', size: "9", class: "imgbutton"), edit_quantity_path(quantity)) %>
      <% end %>
  </p>
  </div>
  <br>
  <center>
    <strong>Instructions:</strong>
  </center>
  <div class='recipemain'>
    <%= @recipe.instructions %>
  </div>
  <br>
  <br>