<center> 
  <h2><%= @recipe.name %></h2>
</center>
  <br>
  <p>Category: <%= @recipe.category.try(:name) %></p>
  <p>Vegetarian: <%= @recipe.vegetarian %></p>
  <p>Ingredients: <%= @recipe.ingredients.each { |i| i.name} %></p>
  <br>
  <center>
    <strong>Instructions:</strong>
  </center>
  <%= @recipe.instructions %>
  <br>
  <br>
  <center>
    <%= link_to("Edit Recipe", edit_recipe_path(@recipe), class: "bueton") %> <%= button_to('Delete Recipe', recipe_path(@recipe), method: :delete, class: 'bueton', data:{confirm: 'Confirm Deleting'}) %>
  </center>